.fadeIn{
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}

.fadeInFast{
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInFast;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInFast;
}

@keyframes fadeInFast {
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}

.fadeInDown{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
}

@keyframes fadeInDown {
from{
  opacity: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}
to{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
}

.fadeInUpTwo{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUpTwo;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInUpTwo;
}

@keyframes fadeInUpTwo {
from{
  opacity: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}
to{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
}

.fadeInLeft{
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
from{
  opacity: 0;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}
to{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
}

.fadeInRight{
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
}

@keyframes fadeInRight {
from{
  opacity: 0;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
to{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
}
