@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*------ Variables */
:root{
  /*------ Colores */
  --green-color: #7ACC2D;
  --black-color: #313337;
  --white-color: white;
  /*------ TipografÃ­a */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
}

/* -------------------------------------------  */
* {
  margin: 0;
}

html, body{
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -2%;
}

.page-wrap:after {
  content: "";
  display: block;
}

p, label{
  font-size: var(--normal);
}

.site-footer, .page-wrap:after {
  height: 2%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space);
  min-height: 60px;
  background-color: #7ACC2D;
}

nav a{
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--normal);
}

nav a:hover{
  color: var(--white-color);
}

nav ul {
  display: flex;
}

nav ul li{
  padding-right: 20px;
  list-style: none;
}

hr{
  opacity: .2;
}

/* ------------------------------------------- MAIN SECTION */

.main_section{
  text-align: center;
  padding: 15%;
}

/* -------------------------------------------  PRODUCTOS */

.products{
  background-image: url("../images/curve.png");
  padding: 15%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 95px;
  background-size: cover;

}

.product{
  padding: 20px;
  margin-top: -226px;
}

.image-product{
  text-align: center;
}

.content{
  padding: 20px;
  background: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
}

.main_btn:hover{
  background-color: #63a426;
}

/* Beneficios */
.beneficios{
  padding: 10%;
  display: flex;
}

.beneficio{
  text-align: center;
  padding: 20px;
}

.beneficio img{
  max-height: 100px
}

.text_beneficio{
  text-align: justify;
}

/* Mentions */
.mentions{
  display: flex;
  padding: 5%;
}
.mention img{
  width: 100%;
}
h2.mention_title{
  text-align: center;
}
.mention{
  padding: var(--space);
}
.content_mention{
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text{
  padding: var(--space);
}

/* Producto.html */
.title{
  justify-content: center;
  text-align: left;
  font-size: 20px;
  padding: 10px;
  max-width: 1200px;
  margin-left: 20%;
}

.product-img img{
  max-width: 230px;
  max-height: 230px;
}
.product-text{
  margin-top: 3%;
  text-align: left;
  font-style: normal;
  font-size: 14px;
}

/* Módulo pago */

.modulo_pago{
  background-color: white;
  padding: 3%
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.modulo_pago img{
  width: 230px;
  height: 230px;
  text-align: center;
}

.data{
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid black;
  box-sizing: border-box;
}
.modulo_pago form{
  margin-top: 10%;
}
.venta_button, .main_btn{
 width: 100%;
 box-sizing: border-box;
 text-decoration:none;
 font-weight: 600;
 font-size: 20px;
 color:#ffffff;
 padding-top:15px;
 padding-bottom:15px;
 padding-left:40px;
 padding-right:40px;
 background-color:#7ACC2D;
 border-color: black;
 border-width: 1px;
 border-style: solid;
}
/* ------------------------------------------- Footer */
.site-footer{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: black;
  padding: 10px;
  color: white;
}
footer a{
  color: white;
}
